# ====== .env ======

NODE_ENV=production
COMPOSE_PROJECT_NAME=socialnet

# База данных (Порт 5435)
POSTGRES_USER=zzzz
POSTGRES_PASSWORD=sAMogyg6sAMogyg
POSTGRES_DB=zzzz
POSTGRES_PORT=5435

# Redis (Порт 6453)
REDIS_PORT=6453

# Бэкенд
BACKEND_PORT=4000
BACKEND_HOST=backend

# Безопасность
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
ADMIN_EMAILS=admin@example.com
AI_API_KEYS=ai_key_1,ai_key_2

# ====== НАСТРОЙКИ MESH-СЕТИ (P2P CLUSTER) ======
IS_MASTER_NODE=true
NODE_ID=zzz
CLUSTER_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
MASTER_NODE_URL=

DEPLOYMENT_MODE=cluster
AUTO_MIGRATE=true

# Фронтенд (URL бэкенда на новом VPS)
EXPO_PUBLIC_API_URL=http://82.26.152.225:4000
VITE_API_URL=http://82.26.152.225:4000
VITE_WS_URL=ws://82.26.152.225:4000
VITE_APP_NAME=SocialNet

ALLOWED_ORIGINS=*